@model VacationBooking.Models.Booking
@{
    ViewData["Title"] = "Booking Confirmation";
    
    // Add null checks to prevent exceptions
    var bookingExists = Model != null;
    var vacationExists = bookingExists && Model.Vacation != null;
    var destinationExists = vacationExists && Model.Vacation.Destination != null;
    var accommodationExists = vacationExists && Model.Vacation.Accommodation != null;
}

@if (!bookingExists)
{
    <div class="alert alert-danger">
        <h4>Error</h4>
        <p>The booking information could not be found. Please contact customer support.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return Home</a>
    </div>
}
else
{
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h2 class="card-title">Booking Confirmed!</h2>
                    </div>
                    <div class="card-body">
                        <h4>Booking Details</h4>
                        <dl class="row">
                            <dt class="col-sm-4">Booking ID:</dt>
                            <dd class="col-sm-8">@Model.BookingID</dd>
                            
                            <dt class="col-sm-4">Vacation Package:</dt>
                            <dd class="col-sm-8">@(Model.Vacation?.Name ?? "Package information unavailable")</dd>
                            
                            <dt class="col-sm-4">Check-in Date:</dt>
                            <dd class="col-sm-8">@Model.CheckInDate.ToShortDateString()</dd>
                            
                            <dt class="col-sm-4">Nights:</dt>
                            <dd class="col-sm-8">@Model.NumberOfNights</dd>
                            
                            <dt class="col-sm-4">Guests:</dt>
                            <dd class="col-sm-8">@Model.NumberOfGuests</dd>
                            
                            <dt class="col-sm-4">Total Price:</dt>
                            <dd class="col-sm-8">$@Model.TotalPrice</dd>
                            
                            <dt class="col-sm-4">Booking Date:</dt>
                            <dd class="col-sm-8">@Model.BookingDate.ToShortDateString()</dd>
                            
                            @if (!string.IsNullOrEmpty(Model.SpecialRequests))
                            {
                                <dt class="col-sm-4">Special Requests:</dt>
                                <dd class="col-sm-8">@Model.SpecialRequests</dd>
                            }
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                            Back to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
